<div class="container-fluid">
  <div *ngIf="expanded" class="row p-2 g-0 overflow-hidden">
    <div class="row text-color">
      <p
        class="col-auto fw-bolder mb-2"
        data-bs-toggle="collapse"
        href="#foldersCollapse"
        role="button"
        aria-expanded="true"
        aria-controls="foldersCollapse"
        ngxTippy
        data-tippy-content="Click para abrir o cerrar"
        [tippyProps]="tooltipRight"
      >
        Carpetas {{ folders.length }}
      </p>
    </div>
    <div
      id="foldersCollapse"
      class="show"
      *ngFor="let folder of folders; let i = index"
    >
      <div *ngIf="i % 3 == 0" class="d-grid d-xl-flex justify-content-xl-end">
        <div class="d-grid col text-truncate m-1" id="folder{{ i }}">
          <accordion [isAnimated]="true" class="text-truncate">
            <accordion-group>
              <button
                class="btn justify-content-between d-flex w-100 shadow-none"
                accordion-heading
                type="button"
              >
                <div class="text-color text-truncate pull-left float-left">
                  {{ folder }}
                </div>
                <a
                  class="link-color icon-size"
                  (click)="folderEmitter('goinside', folder)"
                  ngxTippy
                  data-tippy-content="Entrar"
                  [tippyProps]="tooltipLeft"
                  ><i class="bi bi-arrow-right-circle-fill"></i
                ></a>
              </button>
              <div class="row">
                <div class="col d-grid">
                  <button
                    class="btn btn-sm btn-outline-primary"
                    (click)="folderEmitter('goinside', folder)"
                  >
                    Entrar<i class="bi bi-arrow-right-circle-fill ms-1"></i>
                  </button>
                </div>
                <div class="col d-grid">
                  <button
                    class="btn btn-sm btn-outline-success"
                    (click)="folderEmitter('edit', folder)"
                    disabled
                  >
                    Editar<i class="bi bi-pencil-fill ms-1"></i>
                  </button>
                </div>
                <div class="col d-grid">
                  <button
                    class="btn btn-sm btn-outline-color"
                    (click)="folderEmitter('delete', folder)"
                  >
                    Eliminar<i class="bi bi-trash-fill ms-1"></i>
                  </button>
                </div>
              </div>
            </accordion-group>
          </accordion>
        </div>

        <div
          class="d-grid col text-truncate m-1"
          *ngIf="i + 1 < folders.length"
        >
          <accordion [isAnimated]="true" class="text-truncate">
            <accordion-group>
              <button
                class="btn justify-content-between d-flex w-100 shadow-none"
                accordion-heading
                type="button"
              >
                <div class="text-color text-truncate pull-left float-left">
                  {{ folders[i + 1] }}
                </div>
                <a
                  class="link-color icon-size"
                  (click)="folderEmitter('goinside', folders[i + 1])"
                  ngxTippy
                  data-tippy-content="Entrar"
                  [tippyProps]="tooltipLeft"
                  ><i class="bi bi-arrow-right-circle-fill"></i
                ></a>
              </button>
              <div class="row">
                <div class="col d-grid">
                  <button
                    class="btn btn-sm btn-outline-primary"
                    (click)="folderEmitter('goinside', folders[i + 1])"
                  >
                  Entrar<i class="bi bi-arrow-right-circle-fill ms-1"></i>
                  </button>
                </div>
                <div class="col d-grid">
                  <button
                    class="btn btn-sm btn-outline-success"
                    (click)="folderEmitter('edit', folders[i + 1])"
                    disabled
                  >
                    Editar<i class="bi bi-pencil-fill ms-1"></i>
                  </button>
                </div>
                <div class="col d-grid">
                  <button
                    class="btn btn-sm btn-outline-color"
                    (click)="folderEmitter('delete', folders[i + 1])"
                  >
                  Eliminar<i class="bi bi-trash-fill ms-1"></i>
                  </button>
                </div>
              </div>
            </accordion-group>
          </accordion>
        </div>

        <div
          class="d-grid col text-truncate m-1"
          *ngIf="i + 2 < folders.length"
        >
          <accordion [isAnimated]="true" class="text-truncate">
            <accordion-group>
              <button
                class="btn justify-content-between d-flex w-100 shadow-none"
                accordion-heading
                type="button"
              >
                <div class="text-color text-truncate pull-left float-left">
                  {{ folders[i + 2] }}
                </div>
                <a
                  class="link-color icon-size"
                  (click)="folderEmitter('goinside', folders[i + 2])"
                  ngxTippy
                  data-tippy-content="Entrar"
                  [tippyProps]="tooltipLeft"
                  ><i class="bi bi-arrow-right-circle-fill"></i
                ></a>
              </button>
              <div class="row">
                <div class="col d-grid">
                  <button
                    class="btn btn-sm btn-outline-primary"
                    (click)="folderEmitter('goinside', folders[i + 2])"
                  >
                    Entrar<i class="bi bi-arrow-right-circle-fill ms-1"></i>
                  </button>
                </div>
                <div class="col d-grid">
                  <button
                    class="btn btn-sm btn-outline-success"
                    (click)="folderEmitter('edit', folders[i + 2])"
                    disabled
                  >
                  Editar<i class="bi bi-pencil-fill ms-1"></i>
                  </button>
                </div>
                <div class="col d-grid">
                  <button
                    class="btn btn-sm btn-outline-color"
                    (click)="folderEmitter('delete', folders[i + 2])"
                  >
                  Eliminar<i class="bi bi-trash-fill ms-1"></i>
                  </button>
                </div>
              </div>
            </accordion-group>
          </accordion>
        </div>
      </div>
    </div>
  </div>
</div>
