<mat-accordion class="card border-0 bg-transparent m-1">
    <mat-expansion-panel class="m-0 p-0" hideToggle [expanded]="true">
        <mat-expansion-panel-header class="m-0 p-1">
            <div class="p-2 card bg-light">Directorios</div>
        </mat-expansion-panel-header>
        <div *ngFor="let folder of folders; let i = index">
            <div *ngIf="i % 3 == 0" class="d-grid d-xl-flex justify-content-xl-end">

                <div class="d-grid col text-truncate m-1" id="folder{{i}}">
                    <accordion [isAnimated]="true" class="text-truncate">
                        <accordion-group>
                            <div class="badge bg-secondary pull-left float-left mb-2"><i class="bi bi-gear-fill me-2"></i>Opciones de {{folder}}</div>
                            <button class="btn justify-content-between d-flex w-100 shadow-none" accordion-heading type="button">
                                <div class="text-danger pull-left float-left">{{folder}}</div>
                                <span class="text-danger icon-size" (click)="folderEmitter('goinside', folder)"><i class="bi bi-folder-symlink-fill"></i></span>
                            </button>
                            <div class="row">
                                <div class="col d-grid">
                                    <button class="btn btn-sm btn-outline-primary" (click)="folderEmitter('goinside', folder)"><i class="bi bi-arrow-right-circle-fill"></i></button>
                                    <span class="badge bg-primary mt-1">Entrar</span>
                                </div>
                                <div class="col d-grid">
                                    <button class="btn btn-sm btn-outline-success" (click)="folderEmitter('edit', folder)"><i class="bi bi-pencil-fill"></i></button>
                                    <span class="badge bg-success mt-1">Editar</span>
                                </div>
                                <div class="col d-grid">
                                    <button class="btn btn-sm btn-outline-danger" (click)="folderEmitter('delete', folder)"><i class="bi bi-trash-fill"></i></button>
                                    <span class="badge bg-danger mt-1">Eliminar</span>
                                </div>
                            </div>
                        </accordion-group>
                    </accordion>
                </div>

                <div class="d-grid col text-truncate m-1" *ngIf="i + 1 < folders.length">
                    <accordion [isAnimated]="true" class="text-truncate">
                        <accordion-group>
                            <div class="badge bg-secondary pull-left float-left mb-2"><i class="bi bi-gear-fill me-2"></i>Opciones de {{folders[i + 1]}}</div>
                            <button class="btn justify-content-between d-flex w-100 shadow-none" accordion-heading type="button">
                                <div class="text-danger pull-left float-left">{{folders[i + 1]}}</div>
                                <span class="text-danger icon-size" (click)="folderEmitter('goinside', folders[i + 1])"><i class="bi bi-folder-symlink-fill"></i></span>
                            </button>
                            <div class="row">
                                <div class="col d-grid">
                                    <button class="btn btn-sm btn-outline-primary" (click)="folderEmitter('goinside', folders[i + 1])"><i class="bi bi-arrow-right-circle-fill"></i></button>
                                    <span class="badge bg-primary mt-1">Entrar</span>
                                </div>
                                <div class="col d-grid">
                                    <button class="btn btn-sm btn-outline-success" (click)="folderEmitter('edit', folders[i + 1])"><i class="bi bi-pencil-fill"></i></button>
                                    <span class="badge bg-success mt-1">Editar</span>
                                </div>
                                <div class="col d-grid">
                                    <button class="btn btn-sm btn-outline-danger" (click)="folderEmitter('delete', folders[i + 1])"><i class="bi bi-trash-fill"></i></button>
                                    <span class="badge bg-danger mt-1">Eliminar</span>
                                </div>
                            </div>
                        </accordion-group>
                    </accordion>
                </div>

                <div class="d-grid col text-truncate m-1" *ngIf="i + 2 < folders.length">
                    <accordion [isAnimated]="true" class="text-truncate">
                        <accordion-group>
                            <div class="badge bg-secondary pull-left float-left mb-2"><i class="bi bi-gear-fill me-2"></i>Opciones de {{folders[i + 2]}}</div>
                            <button class="btn justify-content-between d-flex w-100 shadow-none" accordion-heading type="button">
                                <div class="text-danger pull-left float-left">{{folders[i + 2]}}</div>
                                <span class="text-danger icon-size" (click)="folderEmitter('goinside', folders[i + 2])"><i class="bi bi-folder-symlink-fill"></i></span>
                            </button>
                            <div class="row">
                                <div class="col d-grid">
                                    <button class="btn btn-sm btn-outline-primary" (click)="folderEmitter('goinside', folders[i + 2])"><i class="bi bi-arrow-right-circle-fill me-2"></i></button>
                                    <span class="badge bg-primary mt-1">Entrar</span>
                                </div>
                                <div class="col d-grid">
                                    <button class="btn btn-sm btn-outline-success" (click)="folderEmitter('edit', folders[i + 2])"><i class="bi bi-pencil-fill"></i></button>
                                    <span class="badge bg-success mt-1">Editar</span>
                                </div>
                                <div class="col d-grid">
                                    <button class="btn btn-sm btn-outline-danger" (click)="folderEmitter('delete', folders[i + 2])"><i class="bi bi-trash-fill"></i></button>
                                    <span class="badge bg-danger mt-1">Eliminar</span>
                                </div>
                            </div>
                        </accordion-group>
                    </accordion>
                </div>
            </div>
        </div>
    </mat-expansion-panel>
</mat-accordion>
