<div class="text-light" style="height: 650px; width: 100%">
  <div class="h-100 d-flex justify-content-center align-items-center">
    <div class="d-block">
      <div class="loading-cont">
        <div class="loader">
          <div></div>
          <div></div>
          <div></div>
          <div></div>
          <div></div>
          <div></div>
          <div></div>
          <div></div>
          <div></div>
          <div></div>
          <div></div>
          <div></div>
        </div>
      </div>
    </div>
  </div>
</div>
