<div class="row bg-color text-light g-0 py-2 m-0">
  <div class="col ms-2">
    {{ renderedPath }}
  </div>
  <div class="col-auto text-end link-white me-2">
    <div
      *ngIf="!isAdmin"
      @fadeInError
      class="link-white"
      (click)="modal('login', 'show')"
    >
      <i class="bi bi-person-circle"></i>
    </div>
    <div
      *ngIf="isAdmin"
      @fadeInError
      class="link-white"
      (click)="modal('logout', 'show')"
    >
      <i class="bi bi-door-closed-fill"></i>
    </div>
  </div>
</div>

<div
  class="modal fade bg-opacity-75 bg-light"
  id="login"
  tabindex="-1"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header bg-color border-0">
        <h6 class="modal-title text-light">Inicio de sesión</h6>
        <button
          type="button"
          class="btn-close btn-close-white"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <form [formGroup]="loginForm" (ngSubmit)="login()">
          <div class="mt-0">
            <span class="p-0 mt-1">Usuario</span>
            <input
              class="form-control"
              type="text"
              formControlName="username"
              maxlength="50"
              placeholder="Introduce el usuario"
              autocomplete="off"
            />
            <div>
              <error-message
                [isTouched]="true"
                [ctrl]="loginForm.get('username')"
              ></error-message>
            </div>
            <div *ngIf="!loginForm.controls['username'].errors">
              <div class="d-grid mt-1">
                <small @fadeInError class="text-success"
                  ><i class="bi bi-check-lg me-1"></i>Este formato es válido.
                </small>
              </div>
            </div>
          </div>
          <div class="mt-2">
            <span class="p-0 mt-1">Contraseña</span>
            <input
              class="form-control"
              type="password"
              maxlength="50"
              formControlName="password"
              placeholder="Introduce la contraseña"
              autocomplete="off"
            />
            <div>
              <error-message
                [isTouched]="true"
                [ctrl]="loginForm.get('password')"
              ></error-message>
            </div>
            <div *ngIf="!loginForm.controls['password'].errors">
              <div class="d-grid mt-1">
                <small @fadeInError class="text-success"
                  ><i class="bi bi-check-lg me-1"></i>Este formato es válido.
                </small>
              </div>
            </div>
          </div>
          <div class="d-grid mt-3">
            <button
              type="submit"
              [disabled]="loginForm.invalid"
              class="btn btn-sm btn-color"
            >
              Iniciar sesión
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<div
  class="modal fade bg-opacity-75 bg-light"
  id="logout"
  tabindex="-1"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header bg-color border-0">
        <h6 class="modal-title text-light">Cerrar sesión</h6>
        <button
          type="button"
          class="btn-close btn-close-white"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <p class="text-center">¿Deseas cerrar la sesión de administrador?</p>
        <div class="row gap-2 mt-3 mx-2">
          <button
            type="button"
            class="col d-grid btn btn-sm btn-color shadow-sm"
            (click)="logout()"
          >
            Eliminar
          </button>
          <button
            type="button"
            class="col d-grid btn btn-sm btn-secondary shadow-sm"
            data-bs-dismiss="modal"
          >
            Cancelar
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
