<div
  class="d-flex justify-content-between border text-ico-small mb-1 py-2 px-3 g-0 shadow-sm"
>
  {{ name }}
  <div [ngSwitch]="buttons">
    <div *ngSwitchCase="0" class="d-flex">
      <a class="me-1">
        <i class="bi bi-arrow-right-circle-fill ico-small"></i>
      </a>
      <a class="me-1">
        <i class="bi bi-pencil-fill ico-small"></i>
      </a>
      <a>
        <i class="bi bi-trash-fill ico-small"></i>
      </a>
    </div>

    <div *ngSwitchCase="1" class="d-flex">
      <a class="me-1">
        <i class="bi bi-arrow-right-circle-fill ico-small"></i>
      </a>
      <a class="me-1">
        <i class="bi bi-pencil-fill ico-small"></i>
      </a>
    </div>

    <div *ngSwitchCase="2" class="d-flex">
      <a class="me-1">
        <i class="bi bi-arrow-right-circle-fill ico-small"></i>
      </a>
      <a>
        <i class="bi bi-trash-fill ico-small"></i>
      </a>
    </div>
  </div>
</div>
