
<div class="container-fluid g-0">

    <navbar [path]="getPath()"></navbar>

    <div class="row p-2 g-0 gap-1">
        <div class="row g-0 gap-1">
            <div class="col-auto">
                <div class="badge bg-secondary" (click)="showNotification('error', 'Click en opciones')">Opciones</div>
            </div>
        </div>
        <div class="col-auto d-grid" *ngIf="getPath().includes('?path=')">
            <button class="btn btn-sm btn-outline-secondary shadow-sm" (click)=goBack()>Volver<i class="bi bi-arrow-left-short ms-1"></i></button>
        </div>
        <div class="col-auto d-grid">
            <button class="btn btn-sm btn-outline-secondary shadow-sm" (click)="getContent(getPath())">Actualizar<i class="bi bi-arrow-clockwise ms-1"></i></button>
        </div>
        <div class="col-auto d-grid">
            <button class="btn btn-sm btn-outline-secondary shadow-sm">Desplegar directorios<i class="bi bi-arrow-down-short ms-1"></i></button>
        </div>
        <div class="col-auto d-grid">
            <button class="btn btn-sm btn-outline-secondary shadow-sm">Desplegar archivos<i class="bi bi-arrow-down-short ms-1"></i></button>
        </div>
        <div class="col-auto d-grid">
            <button class="btn btn-sm btn-outline-secondary shadow-sm">Ver ultimas versiones<i class="bi bi-eye-fill ms-1"></i></button>
        </div>
    </div>

    <div *ngIf="content" class="container-fluid">
        <div *ngIf="content.folders && content.folders.length > 0">
            <folders [folders]="content.folders" (folderEvent)="folderEvent($event)"></folders>
        </div>
        <div *ngIf="content.files && content.files.length > 0">
            <files [files]="content.files" [path]="getPath()" (fileEvent)="fileEvent($event)"></files>
        </div>
    </div>

    <div class="container-fluid">
        <div class="row g-0 gap-1 p-2">
            <label class="col d-grid" for="file">
                <div class="btn btn-sm btn-outline-danger">
                    <span class="align-middle" (click)="uploadFile($event, false)">Subir un archivo</span>
                </div>
                <input #fileInputField type="file" name="file" id="file" class="visually-hidden">
            </label>
            <div *ngIf="file" class="col-auto">
                <button type="button" class="btn btn-sm btn-outline-danger px-4" (click)="uploadFile($event, true)"><i class="bi bi-cloud-arrow-up-fill icon-size"></i></button>
            </div>
        </div>
    </div>

    <div>
        <h4>Crear carpeta</h4>
        <div>
            <input type="text" name="directoryName" id="directoryName">
            <button type="button" class="is-danger" (click)="makeDirectory($event)">Crear carpeta</button>
        </div>
    </div>

</div>
<notifier-container></notifier-container>