<navbar [path]="'/'"></navbar>

<div class="container-fluid">
  <div class="row justify-content-between mt-2">
    <div class="col-auto">
      <button (click)="restartSize()" class="btn btn-sm btn-color shadow-sm me-1">
        Restablecer columnas<i class="bi bi-arrow-clockwise ms-1"></i>
      </button>

      <button class="btn btn-sm btn-color shadow-sm" routerLink="/gestor-documental">
        Gestor <i class="bi bi-hexagon-fill ms-1"></i>
      </button>
    </div>
    <div class="col-auto mt-1">
      <input
        #range
        (change)="setRowsOnDisplay(range.value)"
        class="form-range"
        type="range"
        min="1"
        max="100"
        value="20"
        step="1"
      />
    </div>
  </div>
</div>

<div class="container-fluid mt-2" *ngIf="datos">
  <ag-grid-angular
    class="ag-theme-alpine"
    [rowData]="datos"
    [columnDefs]="columnas"
    [pagination]="true"
    [paginationPageSize]="rowsOnDisplay"
    [enableCellChangeFlash]="true"
    [animateRows]="true"
    [gridOptions]="gridOptions"
    (gridReady)="onGridReady($event)"
    (cellEditingStarted)="onCellEditingStarted($event)"
    (cellEditingStopped)="onCellEditingStopped($event)"
    (columnVisible)="restartSize()"
  >
  </ag-grid-angular>
</div>
