@import url(roboto.css);
@import "ag-grid-community/dist/styles/ag-grid.css";
@import "ag-grid-community/dist/styles/ag-theme-alpine.css";

* {
  font-family: Roboto, sans-serif;
}

:root {
  --transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  --custom-color: #f27428;
  --custom-color-darker: #c36023;
  --custom-color-hover: #f275286b;
}

body,
html {
  min-height: 100vh;
  height: auto;
  margin: 0;
}

::selection {
  background-color: var(--custom-color-darker);
  color: #fff;
}

::-webkit-scrollbar {
  width: 4px;
  height: 4px;
  overflow-y: scroll;
  background: 0 0;
}

::-webkit-scrollbar-thumb {
  background: var(--custom-color);
  border-radius: 10px;
}

.text-color {
  color: var(--custom-color);
}

.link-color {
  color: var(--custom-color);
  transition: var(--transition);
}

.link-color:hover {
  color: var(--custom-color-darker);
  transition: var(--transition);
}

.bg-color {
  background-color: var(--custom-color);
}

.btn-color {
  color: #fff;
  background-color: var(--custom-color);
  border: 1px solid var(--custom-color);
  transition: var(--transition);
}

.btn-outline-color {
  color: var(--custom-color);
  background-color: #fff;
  border: 1px solid var(--custom-color);
  transition: var(--transition);
}

.btn-outline-color:hover {
  color: #fff;
  background-color: var(--custom-color);
  border: 1px solid var(--custom-color);
  transition: var(--transition);
}

.btn-color:hover {
  color: var(--custom-color);
  background-color: #fff;
  transition: var(--transition);
}

.mat-expansion-panel-body {
  padding: 0 !important;
}

.btn-check:focus + .btn,
.btn:focus,
.form-control:focus,
.form-check-input:focus {
  outline: 0;
  box-shadow: 0 0 0 0.1rem transparent;
  transition: var(--transition);
}

.fullscreen {
  position: fixed;
  height: 100vh;
  width: 100%;
}

.btn-link {
  font-weight: 400;
  color: var(--custom-color);
  text-decoration: none;
}

.notifier__notification-button {
  display: none !important;
}

.notifier__notification--default {
  background-color: var(--custom-color);
  color: #fff;
}

.icon-size {
  font-size: 1.5rem;
}

.upload-file {
  transition: var(--transition);
}

.upload-file:hover {
  border: 2px dotted transparent;
  transition: var(--transition);
}

.modal-backdrop {
  display: none;
}

.dropdown-item-sm {
  font-size: 0.875rem;
}

.dropdown-item {
  transition: var(--transition);
}

.dropdown-item:hover {
  background-color: var(--custom-color);
  color: #fff;
  transition: var(--transition);
}

.form-check-input:checked {
  background-color: var(--custom-color);
  border-color: var(--custom-color);
}

.form-switch .form-check-input:focus {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='grey'/%3e%3c/svg%3e");
}

.tippy-box[data-animation="fade"][data-state="hidden"] {
  opacity: 0;
}
[data-tippy-root] {
  max-width: calc(100vw - 10px);
}
.tippy-box {
  position: relative;
  background-color: var(--custom-color);
  color: #fff;
  border-radius: 4px;
  font-size: 14px;
  line-height: 1.4;
  white-space: normal;
  outline: 0;
  transition-property: transform, visibility, opacity;
}
.tippy-box[data-placement^="top"] > .tippy-arrow {
  bottom: 0;
}
.tippy-box[data-placement^="top"] > .tippy-arrow:before {
  bottom: -7px;
  left: 0;
  border-width: 8px 8px 0;
  border-top-color: initial;
  transform-origin: center top;
}
.tippy-box[data-placement^="bottom"] > .tippy-arrow {
  top: 0;
}
.tippy-box[data-placement^="bottom"] > .tippy-arrow:before {
  top: -7px;
  left: 0;
  border-width: 0 8px 8px;
  border-bottom-color: initial;
  transform-origin: center bottom;
}
.tippy-box[data-placement^="left"] > .tippy-arrow {
  right: 0;
}
.tippy-box[data-placement^="left"] > .tippy-arrow:before {
  border-width: 8px 0 8px 8px;
  border-left-color: initial;
  right: -7px;
  transform-origin: center left;
}
.tippy-box[data-placement^="right"] > .tippy-arrow {
  left: 0;
}
.tippy-box[data-placement^="right"] > .tippy-arrow:before {
  left: -7px;
  border-width: 8px 8px 8px 0;
  border-right-color: initial;
  transform-origin: center right;
}
.tippy-box[data-inertia][data-state="visible"] {
  transition-timing-function: cubic-bezier(0.54, 1.5, 0.38, 1.11);
}
.tippy-arrow {
  width: 16px;
  height: 16px;
  color: var(--custom-color);
}
.tippy-arrow:before {
  content: "";
  position: absolute;
  border-color: transparent;
  border-style: solid;
}
.tippy-content {
  position: relative;
  padding: 5px 9px;
  z-index: 1;
}

.ag-header-row {
  background-color: var(--custom-color);
  color: #fff !important;
}

.ag-header-cell-moving {
  background-color: var(--custom-color) !important;
}

.ag-theme-alpine input[class^="ag-"] {
  margin: 0;
  background-color: #fff;
}

.ag-theme-alpine .ag-cell-inline-editing {
  border-color: #ffdbc5 !important;
}

.ag-theme-alpine .ag-row-hover {
  background-color: #ffdbc5;
}

.ag-filter-body-wrapper {
  background-color: var(--custom-color);
  border: transparent;
}

.ag-theme-alpine .ag-menu {
  border: transparent;
}

span {
  color: white;
  fill: white;
}

span:hover {
  fill: grey;
  transition: var(--transition);
}

.ag-dnd-ghost {
  background-color: var(--custom-color) !important;
  border: transparent !important;
}

input[class^="ag-"][type="text"],
input[class^="ag-"][type="text"]:focus {
  font-size: inherit;
  line-height: inherit;
  color: inherit;
  border-width: 1px;
  border-style: solid;
  border-color: transparent !important;
  box-shadow: none !important;
}
