* {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol" !important;
}

:root {
  --bs-danger-htransparent: #dc354559;
  --tranition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out
}

html, body {
  min-height: 100vh;
  height: auto;
  margin: 0;
}

/* SCROLLBAR */
::-webkit-scrollbar {
  width: 4px;
  height: 4px;
  overflow-y: scroll;
  background: transparent;
}

/* SCROLLBAR */
::-webkit-scrollbar-thumb {
  background: var(--bs-danger);
  border-radius: 10px;
}

.mat-expansion-panel-body {
  padding: 0 !important;
}

.btn-check:focus+.btn, .btn:focus, .form-control:focus, .form-check-input:focus {
  outline: 0;
  box-shadow: 0 0 0 0.1rem transparent;
  transition: var(--tranition);
}

.btn-link {
  font-weight: 400;
  color: var(--bs-danger);
  text-decoration: none;
}

.notifier__notification-button {
  display: none !important;
}

.icon-size {
  font-size: 1.5rem;
}

@media screen and (max-width: 1024px) {
  .mat-drawer {
      display: none !important;
  }
}

.upload-file {
  transition: var(--tranition);
}

.upload-file:hover {
  border: 2px dotted transparent;
  transition: var(--tranition);
}

.modal-backdrop {
  display: none;
}

.form-check-input:checked {
  background-color: var(--bs-danger);
  border-color: var(--bs-danger);
}

.form-switch .form-check-input:focus {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='FireBrick'/%3e%3c/svg%3e");
}

.mat-drawer-content {
  overflow: hidden !important;
}