* {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol" !important;
}

html, body {
  min-height: 100vh;
  height: auto;
  margin: 0;
}

/* SCROLLBAR */
::-webkit-scrollbar {
  width: 4px;
  height: 4px;
  overflow-y: scroll;
  background: transparent;
}

/* SCROLLBAR */
::-webkit-scrollbar-thumb {
  background: var(--bs-danger);
  border-radius: 10px;
}

.mat-expansion-panel-body {
  padding: 0 !important;
}

.btn-check:focus+.btn, .btn:focus, .form-control:focus {
  outline: 0;
  box-shadow: 0 0 0 0.25rem transparent !important;
}

.btn-link {
  font-weight: 400;
  color: var(--bs-danger) !important;
  text-decoration: none !important;
}

.notifier__notification-button {
  display: none !important;
}

.icon-size {
  font-size: 1.5rem !important;
}

.form-control:focus {
  border-color: var(--bs-danger) !important;
}

@media screen and (max-width: 1024px) {
  .mat-drawer {
      display: none !important;
  }
}

.upload-file {
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out !important;
}

.upload-file:hover {
  border: 2px dotted white !important;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out !important;
}